<div class="vpwelcome">
    <img src="static/img/vp_logo100.png" alt="vp logo"
    class="img-responsive"/>
    <div class="text">
    VPBank 1.0
    </div>
</div>

<div id="logindiv">


</form>

    <form role="form" method="post" id="loginform">
      <input type="text" class="form-control" name="username" placeholder="Username">
      <input type="password" class="form-control" name="password" placeholder="Password">
      <a href="#enter" id="login" class="btn btn-positive btn-block">Login</a>
      <a href="#signup" id="signup" class="btn btn-positive btn-block">Sign up</a>
    </form>
</div>
